/* 
 * THIS FILE IS USED FOR TEST 
 * It contains some snippet that validate the module
 */

#selector1 {
	border: 1px solid #FFF ;
	color: pink;
}

.class1 , .class2 {
	background-color: red;
}

/*
 * Content with spaces between quotes
 */
#selector{
  content: ' lol lol   lol';
}

/*
 * Testing 0px
 */
#selector1{
	border: 0em;
	margin: 0px;
	padding: 0px 0px;
}
#selector1{
	margin: 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}